@use 'src/styles/vars';

//?/  Le style néon est dans l'index.scss

.neon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .neon-alone {    
    display: grid;
    justify-self: center;
    align-self: center;
    font: 700% 'neon';
  }
  
  .neon-1, .neon-2 {
    transform: rotate(270deg);
  }
  .neon-3, .neon-4 {
    transform: rotate(90deg);
  }
}
