@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

// Fonts
$rajdhani: 'Rajdhani', sans-serif;

:root {
  --neonColoring: rgb(17, 255, 0);

  --color: 116, 100%; /*the base color*/
  --l:50%; /*the initial lightness*/
  
  --color-primary: hsl(var(--color),var(--l));
  --color-primary-darkest: hsl(var(--color),calc(var(--l) - 25%)); 
  --color-primary-light: hsl(var(--color),calc(var(--l) + 15%));
  --color-primary-lightest: hsl(var(--color),calc(var(--l) + 35%));
}
