@use 'reset';
@use 'vars';

body {
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
  position: relative;
  color: white;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}



/**
*  Néons / Titres néons
*/

$gray: #333;

.neon {
  width: 100%;
  align-self: end;
}
.neon-item {
  font-family: 'neon';
  text-transform: uppercase;
  font-size: 5em;
  animation: shine 2s forwards, flicker 3s infinite;
}


.flicker {
  animation: shine 2s forwards, blinker linear infinite 4s;
}

.fast-flicker {
  animation: shine 2s forwards, blinker linear infinite 2s;
}

@keyframes shine {
  0% {
    color: $gray;
    text-shadow: none;
  }
  100% {
    color: vars.$neonColor;
    text-shadow: 0 0 0.6rem darken(vars.$neonColor, 25%), 0 0 1.5rem lighten(vars.$neonColor, 15%),
      -0.2rem 0.1rem 1rem lighten(vars.$neonColor, 35%);
  }
}

@keyframes blinker {
  78% {
    color: vars.$neonColor;
    text-shadow: 0 0 0.6rem darken(vars.$neonColor, 1%), 0 0 1.5rem lighten(vars.$neonColor, 15%),
    -0.2rem 0.1rem 1rem lighten(vars.$neonColor, 35%);
  }
  79%{
     color: $gray;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: vars.$neonColor;
    text-shadow: 0 0 0.6rem darken(vars.$neonColor, 1%), 0 0 1.5rem lighten(vars.$neonColor, 15%),
    -0.2rem 0.1rem 1rem lighten(vars.$neonColor, 35%);
  }
  82% {
    color: $gray;
    text-shadow: none;
  }
  83% {
    color: vars.$neonColor;
    text-shadow: 0 0 0.6rem darken(vars.$neonColor, 1%), 0 0 1.5rem lighten(vars.$neonColor, 15%),
    -0.2rem 0.1rem 1rem lighten(vars.$neonColor, 35%);
  }
  92% {
    color: $gray;
    text-shadow: none;
  }
  92.5% {
    color: vars.$neonColor;
    text-shadow: 0 0 0.6rem darken(vars.$neonColor, 1%), 0 0 1.5rem lighten(vars.$neonColor, 15%),
    -0.2rem 0.1rem 1rem lighten(vars.$neonColor, 35%);
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
