@use 'src/styles/vars';

.card{
  font-family: 'Rajdhani';
  position:relative;
  color: #000000;
  padding:20px 15px;
  margin-top: 15px;
  margin-right: -10px;
  margin-left: -220px;
  width: 300px;
  height: 330px;
  clip-path: circle(5% at 95% 11%);
  transition: all ease-in-out .3s;
  background-color:#ffffff;
  z-index: 1;
  
  &-infoicon{
    position:absolute;
    top: 25px;
    right: 4.5px;
    font-size:1.4em;
    transition:ease-out .3s;
    display: grid;

    img {
      width: 20px;
      height: 20px;
      place-self: center;
    }

  }
  &-title{
    margin:0;
    padding: 5px;
    font-size: 1.2em;
    line-height:1.8;
    font-weight: bold;
  }
  &-description{
    margin:0;
    
    font-size: 1.1em;
    line-height:1.6;

    a {
      color: #0099ff;
      border-bottom: 1px solid transparent;
      &:hover{
         border-bottom-color: #0099ff;
      }
    }
  }
  
  &:hover, &:focus{
    clip-path: circle(75%);
    border-radius:20px;
    box-shadow: 0px 3px 9px rgba(255, 255, 255, 0.12),
                0px 3px 18px rgba(255, 255, 255, 0.08);
    background:#ffffff;
    
    outline:none;
    .card-infoicon{
      opacity: 0;
    }
  }
  &:focus{
    box-shadow: 0px 3px 9px rgba(255, 255, 255, 0.12), 
                0px 3px 18px rgba(255, 255, 255, 0.08), 
                0px 0px 0px 4px rgba(255, 255, 255, 0.2);
  }
}
