.projects-component {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 15% 85%;
  grid-template-areas: 
    " . title backlink "
    " content content content "
  ;

  .projects-backlink {
    grid-area: backlink;
    transform: rotate(270deg);
    .arrow-container {
      top: 20%;
      left: 30%;
    }
  }

  .neon {
    // Tout le style des néons est centralisé dans index.scss
    grid-area: title;
  }

  .content-container {
    grid-area: content;
  }
}

// Tablette
@media only screen and (min-width : 480px) and (max-width : 767px) {
  .projects-component {
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
      " . title backlink "
      " content content content "
    ;
    
    // Titre
    .neon {
      h1.neon-item {
        font-size: 3.5em;
      }
    }

    .content-container {
      .slides {
        .slide {
          .slideContent {
            width: 65vw;
          }
        }
        button {
          font-size: 25vw;
        }
      }
    }
  }
}

// Phone
@media only screen and (max-width : 479px) {
  .projects-component {
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
      " title title backlink "
      " content content content "
    ;
    
    // Titre
    .neon {
      h1.neon-item {
        font-size: 3.5em;
      }
    }

    .content-container {
      .slides {
        .slide {
          .slideContent {
            width: 75vw;
          }
        }
        button {
          font-size: 12em;
          position: none;
          &:last-child {
            right: -30%;
          }
          &:first-child {
            left: -30%;
          }
          &:last-child,
          &:first-child {
            z-index: 5;
            top: 55%;
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
}
