@use 'src/styles/vars';

.home-component {
  
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 2% auto 2% 10%;
  grid-template-rows: 15% 20% 30% 20% 15%;
  grid-template-areas:
    "   .     .       .       .  infos"
    "   .   neon1 container neon3  .  "
    "projects .   container   .  about"
    "   .   neon2   medias  neon4  .  "
    "   .     .     medias    .    .  "
  ;

  .home-title {
    font: 60px 'Rajdhani';
    grid-area: title;
    place-self: center;
    font-size: 60px;
  }

  .about-link {
    grid-area: about;
  }

  .projects-link {
    grid-area: projects;
  }

  .infos-container {
    grid-area: infos;
  }

  .home-container {
    grid-area: container;
    place-self: center;
    padding-right: 25vw;
  }

  .neon-container-1 {
    grid-area: neon1;
  }
  .neon-container-2 {
    grid-area: neon2;
  }
  .neon-container-3 {
    grid-area: neon3;
  }
  .neon-container-4 {
    grid-area: neon4;
  }

  .social-media-container {
    grid-area: medias;
    justify-self: center;
    width: 70%;
    display: grid;

    // Début de la pop div
    .pop-div {
      color: white;
      height: 75%;
      width: 100%;
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      z-index: 2;

      & > * {
        background-color: #616161;

      }
      
      
      .pop-title {
        color: white;
        font: 25px 'Rajdhani';
        font-weight: bold;
        width: 30%;
        height: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin: 0 auto;
        border: 3px #FF83EE solid;
        border-bottom: none;
        cursor: pointer;
        padding-top: 8px;

      }

      .pop-content {
        height: 100%;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

      }

    }
    .pop-div {
      .pop-title {
      }

      .pop-content.close {
        display: none;
      }
    }
  }

}


