@use 'src/styles/vars';

.about-component {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 15% 30% 55%;
  grid-template-areas: 
    " backlink title . "
    " . prez . "
    " . content . "
  ;

  .about-backlink {
    grid-area: backlink;
    transform: rotate(90deg);
    .arrow-container {
      top: 25%;
      left: 70%;
    }
  }

  .neon {
    // Tout le style des néons est centralisé dans index.scss
    grid-area: title;
  }

  .about-presentation {
    grid-area: prez;
  }

  .about-content {
    grid-area: content;
    padding-bottom: 2em;
  }


  .about-presentation {
    place-self: center;
    font: 25px 'Rajdhani';
    margin: 0 5em;
  }

}

