@use 'src/styles/vars';

.about-component {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 15% 30% 55%;
  grid-template-areas: 
    " backlink title . "
    " . prez . "
    " . content . "
  ;

  .about-backlink {
    grid-area: backlink;
    transform: rotate(90deg);
    .arrow-container {
      top: 25%;
      left: 70%;
    }
  }

  .neon {
    // Tout le style des néons est centralisé dans index.scss
    grid-area: title;
  }

  .about-presentation {
    grid-area: prez;
  }

  .about-content {
    grid-area: content;
    padding-bottom: 2em;
  }


  .about-presentation {
    place-self: center;
    font: 25px vars.$rajdhani;
    margin: 0 1em;
  }
}
// Mini PC
@media only screen and (min-width : 768px) and (max-width : 1050px) {
  .about-component {
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 13% 30% 57%;
    grid-template-areas: 
      " backlink title . "
      " . prez . "
      " content content content "
    ;

    .about-presentation {
      margin: 0;
    }
    .about-content {  
      grid-template-columns: 60% 40%;
      grid-template-rows: 70% 30%;
      grid-template-areas: 
        " left right "
        " left bottom"
      ;
      padding: 1.5em;
      .left-section-title {
        height: 5vh;
        border-radius: 10px;
        top: 0;
      }
      .left-section {
        .left-section-content {
          font-size: 18px;
          .left-wrapper{
            .left {
              margin-left: 7px;
              font-size: 14px;
            }
            .right {
              font-size: 16px;
              margin-top: 8px;
            }
          }
        }
      }
      .right-section {
        img {
          width: 80px;
        }
      }

      .bottom-section {
        margin-bottom: 40px;
        margin-left: -37vw;
        img {
          width: 100px;
        }
      }
    }
  }
}

// Tablette
@media only screen and (min-width : 480px) and (max-width : 767px) {
  .about-component {
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 25% 65%;
    grid-template-areas: 
      " backlink title . "
      " prez prez prez "
      " content content content "
    ;


    // Titre
    .neon {
      h1.neon-item {
        font-size: 3.5em;
      }
    }

    .about-presentation {
      margin: 0 .5em;
      font-size: 3vw;
    }


    .about-content {
      grid-template-columns: 60% 40%;
      grid-template-rows: 80% 20%;
      grid-template-areas: 
        " left right "
        " left bottom"
      ;
      padding: 1em;
      .left-section-title {
        height: 5vh;
        border-radius: 10px;
        top: 0;
        width: 30vw;
        font-size: 4vw;
      }
      .left-section {    
        grid-template-columns: 40% 60%;
        grid-template-rows: 80% 20%;
        grid-template-areas:
          " content content "
          " download . "
        ;
        padding: .5em;
        .left-section-content {
          font-size: 16px;
          .left-wrapper{
            .left {
              margin-left: 0px;
              font-size: 14px;
              padding-top: -28px;
            }
            .right {
              font-size: 16px;
              margin-top: 6px;
            }
          }
        }
      }
      .right-section {    
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 34% 33%;
        grid-template-areas:
          "html css"
          " js sass"
          " react redux"
        ;
        img {
          width: 60px;
        }
      }

      .bottom-section {
        height: 80px;
        margin-bottom: 40px;
        margin-left: -37vw;
        img {
          width: 80px;
        }
      }
    }
  }
}

// Phone
@media only screen and (max-width : 479px) {
  .about-component {
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 30% 60%;
    grid-template-areas: 
      " backlink title title "
      " prez prez prez "
      " content content content "
    ;
    
    // Titre
    .neon {
      h1.neon-item {
        font-size: 12vw;
      }
    }

    .about-presentation {
      margin: .5em;
      font-size: 4vw;
    }

    .about-content {
      min-height: 650px;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: 
        " left"
        "right"
        "bottom"
      ;
      padding: 1em;
    }
    .left-section-title {
      height: 4.5vh;
      border-radius: 10px;
      top: 0;
      width: 46vw;
      font-size: 6vw;
    }
    .left-section {    
      grid-template-columns: 40% 60%;
      grid-template-rows: 80% 20%;
      grid-template-areas:
        " content content "
        " download . "
      ;
      padding: 2em .5em 1 .5em;
      .left-section-content {
        font-size: 15px;
        .left-wrapper{
          margin-bottom: 1em;
          .left {
            margin-left: 0px;
            font-size: 12px;
            padding-top: -28px;
          }
          .right {
            font-size: 16px;
            margin-top: 25px;
          }
        }
      }
      .download-btn {
        margin-bottom: 50px;
      }
    }
    .right-section {
      grid-template-columns: 33% 34% 33%;
      grid-template-rows: 45% 10% 45%;
      grid-template-areas: 
      " html css js"
        " . . . "
        " react redux sass"
      ;
      margin: 1em;
      img {
        width: 60px !important;
      }
    }

    
    .bottom-section {
      height: 80px;
      margin-bottom: 200px;
      margin-left: 0vw;
      img {
        width: 60px !important;
      }
    }
  }
}
