@use 'src/styles/vars';

.home-component {
  
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 2% 76% 2% 10%;
  grid-template-rows: 15% 20% 30% 20% 15%;
  grid-template-areas:
    "color    .    snackbar   .  infos"
    "   .   neon1 container neon3  .  "
    "projects .   container   .  about"
    "   .   neon2   medias  neon4  .  "
    "   .     .     medias    .    .  "
  ;

  .projects-link.navlink > div > span > svg {
    margin-left: 20px; // correction du decalage naturel du svg
  }
  .home-title {
    font: 60px vars.$rajdhani;
    grid-area: title;
    place-self: center;
    font-size: 60px;
  }

  .about-link {
    grid-area: about;
    justify-self: flex-start;
  }

  .projects-link {
    grid-area: projects;
    justify-self: flex-end;
  }

  .infos-container {
    grid-area: infos;
  }

  .snackbar-container {
    grid-area: snackbar;
    justify-self: center;
  }

  .home-container {
    grid-area: container;
    place-self: center;
    padding-right: 25vw;
    margin-top: 13%;
    user-select: none;
    .under-767px-display {
      display: none;
    }
  }

  .neon-container-1 {
    grid-area: neon1;
    user-select: none;
  }
  .neon-container-2 {
    grid-area: neon2;
    user-select: none;
  }
  .neon-container-3 {
    grid-area: neon3;
    user-select: none;
  }
  .neon-container-4 {
    grid-area: neon4;
    user-select: none;
  }

  .social-media-container {
    grid-area: medias;
    justify-self: center;
    align-self: flex-end;
    width: 92%;
    display: grid;

    // Début de la pop div
    .pop-div {
      color: white;
      width: 100%;
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      z-index: 2;

      & > * {
        background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.301), rgba(255, 255, 255, 0.103));
        backdrop-filter: blur(10px);
        border: 1px groove rgba(255,255,255,0.2);
        border-bottom: none;
      }
      
      
      .pop-title {
        color: white;
        font: 25px vars.$rajdhani;
        width: 280px;
        height: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin: 0 auto;
        border-bottom: none;
        cursor: pointer;
        padding-top: 8px;
        display: grid;
        text-transform: uppercase;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 100%;
        grid-template-areas: 
          "leftarrows title rightarrows"
        ;

        .little-arrow-container-1 {
          grid-area: leftarrows;
        }

        .little-arrow-container-2 {
          grid-area: rightarrows;
        }

        .text {
          grid-area: title;
        }

      }

      .pop-content {
        height: 200px;
        width: 100%;
        max-width: 760px;
        margin: auto;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: relative;
        overflow: hidden;

        .pop-close {
          user-select: none;
          font: 30px vars.$rajdhani;
          font-weight: bold;
          color: red;
          display: inline;
          position: absolute;
          right: -7px;
          top: 5px;
          width: 45px;
          height: 25px;
          cursor: pointer;
          transition: .5s;
          &:hover {
            color: white;
          }

          div {
            transform: rotate(45deg);
            position: absolute;
            top: -30%;
            left: 30%;
          }
        }
      }

    }
    .pop-div {

      .pop-content.close {
        display: none;
      }

      .pop-title.close {
        display: none;
      }
    }
  }
  
  .color-changer-container {
    grid-area: color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    z-index: 10;

    label {
      margin-bottom: 5px;
      font: 1em vars.$rajdhani;
    }

    .color-changer {
      -webkit-appearance: none;
      cursor: pointer;
      height: 35px;
      width: 35px;
      border:1px solid var(--color-primary-darkest);
      border-radius: 50%;
      background: var(--color-primary-darkest);
      transition: .5s;
      &::-webkit-color-swatch {
        box-sizing: border-box;
        border: none;
        border-radius: 50%;
      }
      &::-moz-color-swatch {
        box-sizing: border-box;
        border: none;
        border-radius: 999px;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
  }

}

// Mini Pc
@media only screen and (min-width : 768px) and (max-width : 1050px) {
  .home-component {
    grid-template-areas:
    "   color     .    snackbar  .    infos"
    "   .   neon1 container neon3   .  "
    "projects .   container  .    about"
    "   .   neon2     .    neon4    .  "
    "medias medias medias medias medias"
  ;

    .home-container {
      padding-right: 31vw; // placement du texte escalier
    }
    .about-link {
      margin-left: -28px;
    }
    .projects-link {
      margin-right: -28px;
    }
  }
}

// Tablette
@media only screen and (min-width : 480px) and (max-width : 767px) {
  .home-component {
    // Boutons de nav
    .navlink .button-container-3 {
      height: 75px;
      width: 75px;
      button {
        font-size: 100%;
      }
      .mas svg {
        height: 35px;
        width: 35px;
      }
    }
    .about-link {
      margin-left: -48px;
    }
    .projects-link {
      margin-right: -48px;
      & > .button-container-3 span.mas svg {
        margin-left: 15px; // correction du decalage naturel du svg
      }
    }
    

    // Changement du texte esaclier par le texte standard
    .home-container {
      margin: 0;
      padding: 0;
      width: 70%;
      margin-top: 4em;
      .under-767px-display {
        font: 40px vars.$rajdhani;
        display: block;
        span {
          font-size: 75%;
        }
      }



      // Display texte escalier
      .words {
        display: none;
      }
    }


    // Néons
    .neon-container {
      .neon-alone {
        font-size: 570%;
      }
      .neon-1, .neon-2, .neon-3, .neon-4 {
        left: -115px;
      }
    }


    // Placement du composant Infos
    .infos-container > div > div.card {
      margin-left: -265px;
    }


    // Social Media footer
    .social-media-container {
      min-width: 440px;
      .pop-div {
        // Div CONTACT
        .pop-title {
          width: 200px;
          height: 40px;
          align-items: flex-end;
        }

        .pop-content {
          height: 130px;
          .social-media-component {
            margin-top: 60px;
          }
        }
      }
    }
  }
}

// Phone
@media only screen and (max-width : 479px) {
  .home-component {
    // Boutons de nav
    .navlink .button-container-3 {
      height: 75px;
      width: 75px;
      button {
        font-size: 100%;
      }
      .mas svg {
        height: 35px;
        width: 35px;
      }
    }
    .about-link {
      margin-left: -48px;
    }
    .projects-link {
      margin-right: -48px;
      & > .button-container-3 span.mas svg {
        margin-left: 15px; // correction du decalage naturel du svg
      }
    }
    

    // Changement du texte esaclier par le texte standard
    .home-container {
      margin: 0;
      padding: 0;
      width: 70%;
      margin-top: 4em;
      .under-767px-display {
        font: 30px vars.$rajdhani;
        display: block;
        span {
          font-size: 75%;
        }
      }



      // Display texte escalier
      .words {
        display: none;
      }
    }



    // Néons
    .neon-container {
      .neon-alone {
        font-size: 570%;
      }
      .neon-1, .neon-2, .neon-3, .neon-4 {
        left: -115px;
      }
    }


    // Placement du composant Infos
    .infos-container > div > div.card {
      margin-left: -280px;
    }


    // Social Media footer
    .social-media-container {
      min-width: 305px;
      height: 104px;
      .pop-div {
        // Div CONTACT
        .pop-title {
          width: 200px;
          height: 40px;
          align-items: flex-end;
        }

        .pop-content {
          height: 110px;
          .social-media-component {
            margin-top: 50px;
          }
        }
      }
    }

    .color-changer-container {
      display: none;
    }
  }
}
